*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul,
a{
    text-decoration: none;
    list-style: none;
}


/* BREADCRUMBS */
.breadcrumbs .breadcrumbs-container{
    padding: 20px;
    font-family: Antonio;
    font-size: 36px;
}

.breadcrumbs .link-inicio{
    color: #134DD4;
}

.breadcrumbs .link-personalizado{
    color: #683AB9;
}

.fundo{
    position: relative;
    background-image: url('/img/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}


/* CONTENT */
.content{
    display: flex;
}

/* ASSIDE */
.asside ul li.active{
    border-radius: 20px;
    background: linear-gradient(180deg, #134DD4, #FF2FB3);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
}

.asside ul li a{
    padding: 0 20px;
}

.asside ul li.active a{
    border: 1px solid #E5EDFF;
    padding: 10px 20px;
    border-radius: 0 20px 20px 0;
    color: #fff;
    background: linear-gradient(45deg, #FFFFFF80, #F8F8F833) !important;
    box-shadow: 0 4px 4px 0 #134DD440;
}

.asside{
    width: 22%;
    border: none;
    border-radius: 0 100px 10px 10px;


}

.asside > nav{
    background: linear-gradient(180deg, #C4F3D6, #C4D7F3, #FFD2EB, #E4C4F3);
    border-radius: 0 100px 10px 10px;
    padding: 60px 0;
}

.asside > nav > ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.asside > nav > ul a{
    font-size: 36px;
    font-family: Antonio;
    color: #134dd4;
}



.produtos-categorias{
    width: 78%;
}

/* CARD PRODUCT */
.card-product .product{
    margin: 15px;
}

.card-product .product-name h1{
    text-align: center;
    font-size: 15px;
    font-family: Antonio;
    margin: 0px auto;
}

.card-product-slider{
    width: 90%;
    margin: 0 auto;
}

.card-product img{
    width: 100%;
    height: 300px;
    
}

.card-product .product-info{
    font-family: 'Antonio';
    text-align: center;
    position: relative;
    top: -45px;
    width: 100%;
    backdrop-filter: blur(10px);
    border-radius: 20px !important;
    padding: 5px; 
    cursor: pointer;
    z-index: 1;
    box-shadow: 4px -3px 5px -4px #134DD466;
}

.card-product .product-price{
    display: flex;
    flex-direction: column;
    font-family: 'Play';
    align-items: center;
}


.slick-prev:before, .slick-next:before{
    color: #000 !important;
}


/* filter */
/* Estilização da seção de filtro */
.custom-dropdown {
    position: relative;
    display: inline-flex;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    gap: 145px;
    align-items: flex-end;
    margin-bottom: 35px;
}

.custom-dropdown-mobile{
    display: none;
}

.dropdown-select {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border: 1px solid #FF2FB3;
    color: #FF2FB3;
    position: relative;
    z-index: 1;
    font-family: 'Antonio';
    border-radius: 20px;
    height: 60px;
    font-size: 24px;
    align-items: center;
    width: 230px;
    margin-left: 50px;
}

.dropdown-arrow {
    width: 10px;
    height: 10px;
    border-left: 2px solid #ff2f83;
    border-bottom: 2px solid #ff2f83;
    transform: rotate(-45deg);
    margin-left: 10px;
}

.dropdown-list {
    position: absolute;
    top: 65%;
    left: 260px;
    width: 25%;
    border-radius: 0px 10px 10px 10px;
    background: linear-gradient(180deg, #C4F3D6, #C4D7F3, #FFD2EB, #E4C4F3);
    color: #134DD4;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    z-index: 10;
    font-family: 'Antonio';
}

.custom-dropdown h1{
    font-family: 'Antonio';
    font-size: 36px;
}

.dropdown-option {
    padding: 20px 15px;
    cursor: pointer;
    font-size: 36px;
}

/* Mostrar a lista suspensa */
.custom-dropdown.active .dropdown-list {
    display: block;
}


/* FILTRO TAMANHO */
.size-buttons {
    display: flex; 
    gap: 10px; 
    justify-content: center;
    margin-top: 20px;
}

.filter-size{
    margin: 80px auto;
}

.filter-size h3{
    font-size: 36px;
    font-family: Antonio;
    text-align: center;
}

.size-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
    color: #000;
    font-size: 26px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: Antonio;
}


/* FILTRO PRECO */
.price-filter {
    display: flex; 
    gap: 10px; 
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    margin-bottom: 150px;
}

.price-filter h3{
    font-size: 36px;
    font-family: Antonio;
    text-align: center;
    margin-bottom: 20px;
}

.price-filter .filter-button {
    margin: 1px 25px;
    height: 45px;
    border-radius: 20px;
    background: none;
    border: none;
    font-family: Play;
    font-size: 15px;
    text-align: -webkit-auto;
    padding: 0 10px;
}

.price-filter .filter-button.active {
    border: 1px solid #000;
}


/* PERSONALIZADO */
.personalizados-section{
    margin: 20px;
}

.personalizados-section h1{
    font-family: Antonio;
    font-size: 36px;
    margin-bottom: 15px;
}

.personalizados-section p{
    font-size: 18px;
    font-family: Antonio;
}


@media (max-width: 768px) {

/* BREADCRUMBS */
.breadcrumbs{
    display: none;
}

/* ASSIDE */
.asside{
    display: none;
}

/* CONTENT */
.dropdown-arrow{
    margin-left: 5px;
}

.custom-dropdown-mobile{
    display: flex !important;
    margin: 30px auto;
    width: 95%;
    gap: 12%;
}

.custom-dropdown-mobile .dropdown-select{
    margin-left: 0;
    width: fit-content;
    font-size: 14px;
    justify-content: normal;
    height: 42px;
}

.custom-dropdown-mobile.active .dropdown-list {
    display: block;
    top: 6.5%;
    left: 22%;
    width: 30%;
    border-radius: 0px 20px 20px 20px;
}

.custom-dropdown-mobile .dropdown-submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.submenu-container {
    display: none;
    background: linear-gradient(180deg, #C4F3D6, #C4D7F3, #FFD2EB, #E4C4F3);
    width: 150px;
    position: absolute;
    left: 129px;
    border-radius: 0 10px 10px 10px;
}

.submenu-container.active {
    display: block;
}

.custom-dropdown-mobile .dropdown-option{
    font-size: 14px;
    padding: 15px;
}



.custom-dropdown-mobile .dropdown-option.selected a{
    color: #fff;
}

.custom-dropdown{
    display: none;
}

.produtos-categorias{
    width: 100%;
}


/* DROPDOWN PREÇO*/
.custom-dropdown-preco{
    width: 100%;
}

.custom-dropdown-preco .dropdown-select-preco {
    display: flex;
    padding: 10px 15px;
    border: 1px solid #FF2FB3;
    color: #FF2FB3;
    position: relative;
    z-index: 1;
    font-family: 'Antonio';
    border-radius: 20px;
    align-items: center;
    margin-left: 0;
    width: fit-content;
    font-size: 14px;
    justify-content: normal;
    height: 42px;
    gap: 5px;
}

.custom-dropdown-preco .selected-option-preco-name{
    font-size: 18px;
}

.custom-dropdown-preco .selected-option-preco{
    font-size: 10px;
}

.custom-dropdown-preco .dropdown-arrow-preco{
    width: 10px;
    height: 10px;
    border-left: 2px solid #ff2f83;
    border-bottom: 2px solid #ff2f83;
    transform: rotate(-45deg);
    margin-left: 5px;
}

.custom-dropdown-preco.active .dropdown-list-preco{
    display: block;
    top: 40px;
    left: 0;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
}

.custom-dropdown-preco .dropdown-list-preco{
    position: absolute;
    top: 65%;
    left: 260px;
    width: 25%;
    border-radius: 0px 10px 10px 10px;
    background: linear-gradient(180deg, #C4F3D6, #C4D7F3, #FFD2EB, #E4C4F3);
    color: #134DD4;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    z-index: 10;
    font-family: 'Antonio';
}

.dropdown-option-preco{
    padding: 15px 5px;
    text-align: center;
}

.dropdown-option-preco a {
    font-size: 14px;
}



.card-product-slider{
    width: 95%;
}

.card-product .product {
    margin: 0 10px;
}

.card-product img{
    height: 100%;
}





}